In [1]:
import numpy as np
import pandas as pd

In [5]:
fi = open('model/q_table.csv')

In [6]:
lines = fi.readlines()

In [7]:
lines

['index      0           1           2         3\n',
 '36 -7.458134 -106.706366   -7.711294 -7.712143\n',
 '24 -7.577804   -7.175705   -7.711490 -7.457875\n',
 '12 -7.356080   -7.356820   -7.359107 -7.360242\n',
 '0  -7.191038   -7.199758   -7.193770 -7.202285\n',
 '13 -7.125978   -7.124605   -7.124807 -7.241649\n',
 '1  -7.026059   -7.017985   -7.015311 -7.011121\n',
 '2  -6.805567   -6.780371   -6.798551 -6.782368\n',
 '25 -7.369666   -6.861894 -106.533362 -7.457679\n',
 '26 -7.114001   -6.513216 -106.655998 -7.174714\n',
 '14 -6.884194   -6.835346   -6.836822 -6.921482\n',
 '3  -6.505819   -6.490933   -6.495452 -6.541820\n',
 '15 -6.525491   -6.501011   -6.501853 -6.602639\n',
 '27 -6.836570   -6.125795 -105.861932 -6.861121\n',
 '4  -6.168612   -6.158017   -6.218642 -6.190130\n',
 '5  -5.885533   -5.796057   -5.822022 -5.834978\n',
 '16 -6.178820   -6.120954   -6.120841 -6.232452\n',
 '17 -5.760500   -5.692439   -5.692381 -6.063477\n',
 '28 -6.499551   -5.695328 -106.678307 -6.506964\n',
 '29 -6.101843   -5.217031 -106.688329 -6.124900\n',
 '6  -5.424056   -5.395541   -5.431448 -5.455850\n',
 '18 -5.342613   -5.215477   -5.215410 -5.417767\n',
 '19 -5.003017   -4.684712   -4.684670 -5.042271\n',
 '31 -5.189424   -4.095100 -106.022317 -5.203180\n',
 '30 -5.680660   -4.685590 -106.627372 -5.693874\n',
 '32 -4.666841   -3.439000 -106.636910 -4.664901\n',
 '7  -5.027173   -4.973104   -4.980824 -5.076058\n',
 '8  -4.511085   -4.486210   -4.485990 -4.577007\n',
 '20 -4.343753   -4.094659   -4.094680 -4.623003\n',
 '21 -3.925651   -3.438849   -3.438853 -3.710340\n',
 '22 -3.088009   -2.709972   -2.709975 -3.069975\n',
 '23 -2.386721   -2.118545   -1.900000 -2.405589\n',
 '33 -4.082841   -2.710000 -106.584035 -4.091740\n',
 '9  -3.992328   -3.945653   -3.969837 -4.040069\n',
 '10 -3.367397   -3.352901   -3.354664 -3.355564\n',
 '34 -3.428007   -1.900000 -106.376268 -3.422456\n',
 '11 -2.742990   -2.796509   -2.693012 -2.834727\n',
 '35 -2.708144   -1.898098   -1.000000 -2.708846\n',
 '47  0.000000    0.000000    0.000000  0.000000']

In [9]:
q_table = pd.DataFrame(columns=[0,1,2,3], dtype=np.float64)

In [20]:
lines = lines[1:]
for line in lines:
    line = line.strip().split(' ')
    line = [float(item) for item in line if (item != '')]
    state = int(line[0])
    xxx = line[1:]
    print((state, xxx))
    q_table = q_table.append(pd.Series(xxx, index=q_table.columns, name=state))

(0, [-7.191038, -7.199758, -7.19377, -7.202285])
(13, [-7.125978, -7.124605, -7.124807, -7.241649])
(1, [-7.026059, -7.017985, -7.015311, -7.011121])
(2, [-6.805567, -6.780371, -6.798551, -6.782368])
(25, [-7.369666, -6.861894, -106.533362, -7.457679])
(26, [-7.114001, -6.513216, -106.655998, -7.174714])
(14, [-6.884194, -6.835346, -6.836822, -6.921482])
(3, [-6.505819, -6.490933, -6.495452, -6.54182])
(15, [-6.525491, -6.501011, -6.501853, -6.602639])
(27, [-6.83657, -6.125795, -105.861932, -6.861121])
(4, [-6.168612, -6.158017, -6.218642, -6.19013])
(5, [-5.885533, -5.796057, -5.822022, -5.834978])
(16, [-6.17882, -6.120954, -6.120841, -6.232452])
(17, [-5.7605, -5.692439, -5.692381, -6.063477])
(28, [-6.499551, -5.695328, -106.678307, -6.506964])
(29, [-6.101843, -5.217031, -106.688329, -6.1249])
(6, [-5.424056, -5.395541, -5.431448, -5.45585])
(18, [-5.342613, -5.215477, -5.21541, -5.417767])
(19, [-5.003017, -4.684712, -4.68467, -5.042271])
(31, [-5.189424, -4.0951, -106.022317, -5.20318])
(30, [-5.68066, -4.68559, -106.627372, -5.693874])
(32, [-4.666841, -3.439, -106.63691, -4.664901])
(7, [-5.027173, -4.973104, -4.980824, -5.076058])
(8, [-4.511085, -4.48621, -4.48599, -4.577007])
(20, [-4.343753, -4.094659, -4.09468, -4.623003])
(21, [-3.925651, -3.438849, -3.438853, -3.71034])
(22, [-3.088009, -2.709972, -2.709975, -3.069975])
(23, [-2.386721, -2.118545, -1.9, -2.405589])
(33, [-4.082841, -2.71, -106.584035, -4.09174])
(9, [-3.992328, -3.945653, -3.969837, -4.040069])
(10, [-3.367397, -3.352901, -3.354664, -3.355564])
(34, [-3.428007, -1.9, -106.376268, -3.422456])
(11, [-2.74299, -2.796509, -2.693012, -2.834727])
(35, [-2.708144, -1.898098, -1.0, -2.708846])
(47, [0.0, 0.0, 0.0, 0.0])

In [21]:
q_table.to_csv('out.csv')

In [31]:
model = pd.read_csv('model/ep2000.csv',index_col=0)

In [35]:
model.head()

           0         1           2         3
0  -7.191038 -7.199758   -7.193770 -7.202285
13 -7.125978 -7.124605   -7.124807 -7.241649
1  -7.026059 -7.017985   -7.015311 -7.011121
2  -6.805567 -6.780371   -6.798551 -6.782368
25 -7.369666 -6.861894 -106.533362 -7.457679

In [39]:
model.loc[0,'1']

-7.199758